
*{
    margin: 0;
    padding: 0;
  }
  
  ul {
    /* Bu üç özellik liste elemanları şekillendirilebilir */
    /* list-style-type:square;
      list-style-position:inside;
      list-style-image: url("./images/Food-Dome-icon.png"); */
  
    /* list-style:square inside url(./images/Food-Dome-icon.png); */
  
    list-style: none;
    background-color: rgb(30, 27, 27);
    color: white;
    padding: 10px;
  }
  
  li {
    display: inline;
    padding: 10px;
  }
  
  /* Liste elemanıa emoji gibi unicode karakteri eklemek */
  
  /* ul li::before{
      content:"💖";
      font-size: 35px;
  } */
  
  .baslik{
      background-color:rgb(163, 111, 111);
      font-family: 'Oswald', sans-serif;
    
  }
  
  img{
      height: 450px;
      width: 100%;
  }

